@font-face {
  font-family: "iconfont"; /* Project id 3443936 */
  src: url('//at.alicdn.com/t/c/font_3443936_pf52enyxdnp.woff2?t=1661477477869') format('woff2'),
       url('//at.alicdn.com/t/c/font_3443936_pf52enyxdnp.woff?t=1661477477869') format('woff'),
       url('//at.alicdn.com/t/c/font_3443936_pf52enyxdnp.ttf?t=1661477477869') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-X-SENSE30tubiaoheji_fenxiang-40:before {
  content: "\e691";
}

.icon-a-X-SENSE30tubiaoheji_lirun:before {
  content: "\e692";
}

.icon-a-X-SENSE30tubiaoheji_binggan:before {
  content: "\e693";
}

.icon-a-X-SENSE30tubiaoheji_tisheng:before {
  content: "\e694";
}

.icon-a-X-SENSE30tubiaoheji_shouyi:before {
  content: "\e695";
}

.icon-a-X-SENSE30tubiaoheji_xinxi:before {
  content: "\e696";
}

.icon-a-X-SENSE30tubiaoheji_fenxiang-44:before {
  content: "\e697";
}

.icon-a-X-SENSE30tubiaoheji_tianxie:before {
  content: "\e698";
}

.icon-a-X-SENSE30tubiaoheji_dianhua:before {
  content: "\e68e";
}

.icon-a-X-SENSE30tubiaoheji_youxiang:before {
  content: "\e68f";
}

.icon-a-X-SENSE30tubiaoheji_dingwei:before {
  content: "\e690";
}

.icon-a-tubiao2:before {
  content: "\e683";
}

.icon-a-tubiao4:before {
  content: "\e684";
}

.icon-a-tubiao1:before {
  content: "\e685";
}

.icon-a-tubiao3:before {
  content: "\e686";
}

.icon-a-tubiao11:before {
  content: "\e687";
}

.icon-a-tubiao5:before {
  content: "\e688";
}

.icon-a-tubiao9:before {
  content: "\e689";
}

.icon-a-tubiao6:before {
  content: "\e68a";
}

.icon-a-tubiao7:before {
  content: "\e68b";
}

.icon-a-tubiao8:before {
  content: "\e68c";
}

.icon-a-tubiao10:before {
  content: "\e68d";
}

.icon-a-X-sensetubiaoheji_shuomingshu:before {
  content: "\e682";
}

.icon-sixing:before {
  content: "\e633";
}

.icon-a-Twostars:before {
  content: "\e634";
}

.icon-a-threestars:before {
  content: "\e635";
}

.icon-a-fivestars:before {
  content: "\e636";
}

.icon-add:before {
  content: "\e62b";
}

.icon-reduce:before {
  content: "\e62c";
}

.icon-Vector:before {
  content: "\e632";
}

.icon-facebook:before {
  content: "\e62d";
}

.icon-instagram:before {
  content: "\e62f";
}

.icon-youtube:before {
  content: "\e631";
}

.icon-search:before {
  content: "\e66d";
}

.icon-service:before {
  content: "\e66e";
}

.icon-a-X-SENSE30tubiaoheji_logo:before {
  content: "\e66f";
}

.icon-shipping:before {
  content: "\e670";
}

.icon-design:before {
  content: "\e671";
}

.icon-subtract:before {
  content: "\e672";
}

.icon-cart:before {
  content: "\e673";
}

.icon-close:before {
  content: "\e674";
}

.icon-left-arrow:before {
  content: "\e675";
}

.icon-science:before {
  content: "\e676";
}

.icon-checked:before {
  content: "\e677";
}

.icon-right-arrow-round:before {
  content: "\e678";
}

.icon-a-X-SENSE30tubiaoheji_weixuanzhonganniu:before {
  content: "\e679";
}

.icon-plus:before {
  content: "\e67a";
}

.icon-card:before {
  content: "\e67b";
}

.icon-file:before {
  content: "\e67c";
}

.icon-smart:before {
  content: "\e67d";
}

.icon-persen:before {
  content: "\e67e";
}

.icon-smoke:before {
  content: "\e67f";
}

.icon-recombination:before {
  content: "\e680";
}

.icon-carbon:before {
  content: "\e681";
}

.icon-maintain:before {
  content: "\e66a";
}

.icon-safety:before {
  content: "\e66b";
}

.icon-user:before {
  content: "\e66c";
}

.icon-menu:before {
  content: "\e617";
}

.icon-time-3s:before {
  content: "\e69d";
}

.icon-time-60s:before {
  content: "\e69e";
}

.icon-test:before {
  content: "\e69f";
}

.icon-alarm:before {
  content: "\e6a0";
}

.icon-time-20s:before {
  content: "\e6a1";
}

.icon-guarantee:before {
  content: "\e6a2";
}

.icon-round-person:before {
  content: "\e6a4";
}

.icon-round-sale:before {
  content: "\e6a5";
}

.icon-round-phone:before {
  content: "\e6a6";
}

.icon-subscribe:before {
  content: "\e6a7";
}

.icon-firefighting:before {
  content: "\e6a8";
}

.icon-check-mark:before {
  content: "\e6a9";
}

.icon-right-arrows:before {
  content: "\e6aa";
}

.icon-up-arrow:before {
  content: "\e61a";
}

.icon-right:before {
  content: "\e61b";
}

.icon-jiantou_down:before {
  content: "\e61c";
}

.icon-jiantou_left_center:before {
  content: "\e61d";
}

.icon-jiantou_right_center:before {
  content: "\e61e";
}

.icon-jiantou_down_right:before {
  content: "\e61f";
}

.icon-jiantou_right_right:before {
  content: "\e620";
}

.icon-jiantou_left_right:before {
  content: "\e621";
}

.icon-del:before {
  content: "\e62a";
}

